


.row-header{
    margin:0px auto;
    padding:0px;
}

.container-margin {
    margin-left: -15px;
    margin-right: -15px;
}

.container-fluid{
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;
  }
  
.row-content {
    margin:0px auto;
    padding: 0px 0px 0px 0px;
    border-bottom: 1px ridge;
    
    height:750px;
}

.got{
    background-color: #000A12;
    color: floralwhite;
    
}

.reach{
    background-color: #CFCFCF;
    color: #F3F3F3;
}

.font{
    font-size: 175px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    
}

.font-card{
    
        font-size: 35px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        
        vertical-align: 10px;
        position: absolute;
        top: 57%;
        left: 20%;
        width: 200px;
        height: 70px;
       line-height: 50px;
        text-align: center;
        
        
        
    
}
.font-cardUn{
    
    font-size: 35px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    
    vertical-align: 10px;
    position: absolute;
    top: 57%;
    left: 20%;
    width: 350px;
    height: 70px;
   line-height: 50px;
    text-align: center;
    
    
    

}

.font-cardUnable{
    font-size: 35px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        
        vertical-align: 10px;
        position: absolute;
        top: 57%;
        left: 20%;
        width: 500px;
        height: 70px;
       line-height: 35px;
        text-align: center;
}

.font-got{
    font-size: 280px;
    font-weight: bold;
    text-align: right;
    
    font-family: 'Roboto', sans-serif;
}
.font-sec{
    font-size: 50px;
    font-weight: bold;
    text-align: right;
    
    font-family: 'Roboto', sans-serif;
}

.font-reach{
    font-size: 280px;
    font-weight: bold;
    text-align: right;
    
    font-family: 'Roboto', sans-serif;
}

.font-reachout{
    font-size: 180px;
    font-weight: bold;
    text-align: right;
    
    font-family: 'Roboto', sans-serif;
}

.font-sm{
    font-size: 80px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    
}



.footer{
       
    background-color: #000A12;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}




.reach_align {
    display: inline-block;
    width: 90%;
    text-align: right;
}




.modal-header {

    background: #000A12;
    color: gray; }
    .modal-header .close {
      color: floralwhite; }

    
  
  .modal-body {
    background: #000A12; 
    text-align: center;
    height: 500px;}


 .modal-retrieveBody {
    background-image: url("../img/jumbotron-2.jpg");
    background-size: cover;
    
    text-align: center;
    height: 500px;}

    .modal-bodys  {
        background-image: url("../img/jumbotron-2.jpg");
        background-size: cover;
        
        text-align: center;
        height: 250px;}



        

    


  
 .form-control {
        width:300x;
        fill: none;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid gray;
       
        font-size: 18px;
        margin-bottom: 16px;
        align-items: center;
    }

    form{
        display: inline-block;
        width: 300px;
        
    }
    

   
 
  
   
.btn-default
{

    background-image: url("../img/jumbotron-2.jpg");
    background-size: cover;
color:#FFF;
border-color: #CFCFCF;
}



.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
background-color: #CFCFCF;
color:#FFF;
border-color: #CFCFCF;
}

select option {
    background: #000A12; 
    color: #fff; 
    box-shadow: inset 20px 20px #000A12;
  } 
  
 




.parent-div{
  position: relative;    
    }
    
    .child-div{
    
    width: 350px;
    height: 130px;
    
    margin-right: 1%;
    position: absolute;
    bottom:0;
    right: 0em;
    
    }

    .child-divreach{
        
    
            width: 350px;
            height: 130px;
            
            margin-right:38%;
            position: absolute;
            bottom:100;
            right: 0em;
            
           
    }

    .child-reachbutton{
        
        width:350px;
        height: 130px;
        
        margin-left:1%;
        position: absolute;
        bottom:0;
        left: 0em;
    }

    .child-reachout{
        width: 350px;
        height: 500px;
        
        margin-right:3%;
        position: absolute;
        bottom:0;
        right: 0em;
        
    }

    .child-got{
    
        width: 1000px;
        height: 800px;
        
        margin-left: 2%;
        position: absolute;
        bottom:0;
        left: 0em;
        
        }

  


    .right {
        float: right;
    }


    .form-font{
        color: #CFCFCF;
    }

    .navbar-custom{
        color: #000A12;
    }

    .navbar{
        color:  color: #000A12;
    }




    table {
        border-collapse: collapse;
        width: 100%;
        color: #000A12;
        font-family: monospace;
        font-size: 10px;
        text-align: left;
        }
        th {
        background-color: #CFCFCF;
        color: white;
        }
        tr:nth-child(even) {background-color: #f2f2f2}



        .box {
            
    background-image: url("../img/jumbotron-2.jpg");
    background-size: cover;
            width: 1000px;
            height: 500px;
            padding: 10px;
            border-radius: 2%;
            margin: 0;
          }

          

            .response-div{
                display: block;
                margin-top: 8%;
                margin-left: auto;
                margin-right: auto;
                
                
            }

            
            .roundedCorner
            {
              width:1000px;height:500px;
              
            background-color: #eed;
          
            border-radius:25px;
            -webkit-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.55);
            -moz-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.55);  
            box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.55)
            }