.jumbotron{
    height: 300px;
    background-image: url("../img/jumbotron-2.jpg");
}


.row-header{
    margin:0px auto;
    padding:0px;
}

.container-margin {
    margin-left: -15px;
    margin-right: -15px;
}

.container-fluid{
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;
  }
  
.row-content {
    margin:0px auto;
    padding: 0px 0px 0px 0px;
    border-bottom: 1px ridge;
    
    height:720px;
}

.got{
    background-color: #000A12;
    color: floralwhite;
    
}

.reach{
    background-color: #CFCFCF;
    color: #F3F3F3;
}

.font{
    font-size: 175px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    
}

.font-reach{
    font-size: 175px;
    font-weight: bold;
    text-align: right;
    
    font-family: 'Roboto', sans-serif;
}

.font-smile{
    font-size: 175px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    
}


.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}




.reach_align {
    display: inline-block;
    width: 90%;
    text-align: right;
}




.modal-header {
    background: #000A12;
    color: gray; }
    .modal-header .close {
      color: floralwhite; }
  
  .modal-body {
    background: #000A12; 
    text-align: center;
    height: 500px;}


  
 .form-control {
        width:300x;
        fill: none;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid gray;
       
        font-size: 18px;
        margin-bottom: 16px;
        align-items: center;
    }

    form{
        display: inline-block;
        width: 300px;
        
    }
    

   
 
  
   
.btn-default
{
background-color: #000A12;
color:#FFF;
border-color: #CFCFCF;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
background-color: #CFCFCF;
color:#FFF;
border-color: #CFCFCF;
}



.parent-div{
  position: relative;    
    }
    
    .child-div{
    
    width: 350px;
    height: 90px;
    
    margin-right: 1%;
    position: absolute;
    bottom:0;
    right: 0em;
    
    }

  


    .right {
        float: right;
    }


    .form-font{
        color: #CFCFCF;
    }

    .navbar-custom{
        color: #000A12;
    }

    .navbar{
        color:  color: #000A12;
    }




    table {
        border-collapse: collapse;
        width: 100%;
        color: #588c7e;
        font-family: monospace;
        font-size: 10px;
        text-align: left;
        }
        th {
        background-color: #588c7e;
        color: white;
        }
        tr:nth-child(even) {background-color: #f2f2f2}